<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Mask Directive
  </h1>
</div>
<section>
  <div style="margin:1rem">
    <label for="">CPF- 999.999.999-99</label>
    <br>
    <input appMask="999.999.999-99"
      #v1 type="text" (keyup)="0"> {{ v1.value }}
  </div>
  <div style="margin:1rem">
    <label for="">hora - 06:mm</label>
    <br>
    <input appMask 
      #v2 type="text" (keyup)="0"> {{ v2.value }}
  </div>
  <div style="margin:1rem">
    <label for="">Hora - 23:59</label>
    <br>
    <input appMask 
      #v3 type="text" (keyup)="0"> {{ v3.value }}
  </div>
  <div style="margin:1rem">
    <label for="">Data - 99/99/9999</label>
    <br>
    <input appMask
      #v4 type="text" (keyup)="0"> {{ v4.value }}
  </div>
  <div style="margin:1rem">
    <label for="">ANY</label>
    <br>
    <input appMask
      #v5 type="text" (keyup)="0"> {{ v5.value }}
  </div>
</section>